<div fxLayoutAlign="center center" style="background-color:White" fxFlexFill>
    <div fxLayoutAlign="center center" style="background-color:White" fxFlexFill>
        <mat-card fxFlex="30">
            <div>
                <h1 fxLayoutAlign="center center">
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: orange;">n</span>
                    <span style="color: blue;">d</span>
                    <span style="color: green;">o</span>
                    <span style="color: red;">o</span>
                </h1>
            </div>
            <div>
                <p class="Head">Forget Password</p>
            </div>
            <form [formGroup]="ForgotPasswordForm" (ngSubmit)="OnSubmit()">
                <div style="text-align:center;">
                    <mat-form-field class="Email" appearance="outline" style="width:400px !important">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error>Enter valid Email id</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="end">
                    <button mat-button class="Next">Next</button>
                </div>
            </form>