.note{
    padding: 30px;
  }
.button{
  margin-left: 300px;
  background-color: transparent;
  font-size: 17px;
  
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
input{
  background-color: transparent;
}
