.remind{
    margin-bottom: 500px;
}
.icons button{
    margin-right: 5px;
  
  
}
.bg-color{
    padding: 12px;
}

// .archive{
//     margin-left: 10px;
// }
// .more{
//    margin-right: 1000px;
// }
