<div class="icons" fxFlex="noshrink">
    <button mat-icon-button matTooltip="Remind me" > <img src="../../../assets/Icons/Remind.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/Icons/Collaborator.svg" width="20px" height="20px"></button>
    
    <button mat-icon-button matTooltip="Background color" > <img src="../../../assets/Icons/Background.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/Icons/Add image.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/Icons/More.svg" width="20px" height="20px"></button>
</div>

<!-- <mat-nav-list class="mat-nav-list" fxLayout="row">
    <button mat-icon-button class="remind"> <img src="../../../assets/Icons/Remind.svg" width="20px" height="20px"></button>
    <button mat-icon-button class="list"> <img src="../../../assets/Icons/Collaborator.svg" width="30px"
            height="30px"></button>
    <button mat-icon-button class="setting"> <img src="../../../assets/Icons/Background.svg"
            width="30px" height="30px"></button>
    <button mat-icon-button class="app"> <img src="../../../assets/Icons/Add image.svg"
            width="30px" height="30px"></button>
    <button mat-icon-button class="person"> <img src="../../../assets/Icons/More.svg"
            width="30px" height="30px"></button>
</mat-nav-list> -->

