.remind{
    margin-bottom: 500px;
}
.icons button{
    margin-right: 5px;
    margin-top: 10px;
}
button:hover{
    background-color: rgb(247, 233, 217) ;
}
.icons:hover{
     opacity: 1;
}
.archive{
    margin-left: 10px;
}
.more{
   margin-right: 1000px;
}