<div class="icons" fxFlex="noshrink">
    <button mat-icon-button matTooltip="Remind me" > <img src="../../../assets/Icons/Remind.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/Icons/Collaborator.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Background color" > <img src="../../../assets/Icons/Background.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator" > <img src="../../../assets/Icons/Add image.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"(click)="archieve()"> <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></button>
    <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/Icons/More.svg" width="20px" height="20px"></button>
     <mat-menu #menu="matMenu">
     <button mat-menu-item (click)="delete()">Delete note</button>
     <button mat-menu-item>Change labels</button>
     <button mat-menu-item>Add drawing</button>
     <button mat-menu-item>Make a copy</button>
     <button mat-menu-item>Show checkboxes</button>
     <button mat-menu-item>Copy to google Docs</button>
     </mat-menu>
</div>

