
><mat-card class="takeNote">
    <div *ngIf="isShow" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card-title > <input class="Title"  matInput style="width: 300px; height: 20px;" placeholder="Title" [(ngModel)]="Title"> </mat-card-title>
        <button mat-icon-button > <img style="width: 25px; height:25px;" src="../../../assets/pin.svg" width="px"
            height="30px"></button>
    </div>
    <div *ngIf="!isShow || isShow" (click)="Show()">
        <input (Click)="Show()" class="TakeNote" matInput style="width: 300px; height: 20px;" placeholder="Take a note..." [(ngModel)]="Description">
    </div>
    <div *ngIf="isShow" fxLayout="row" fxLayoutAlign="space-between center">
        <app-icons></app-icons>
        <button mat-button (click)="close()">Close</button>
    </div>
</mat-card>

 


