.Signin{
    font-size: 20px;
    font-weight:500;
    margin-bottom: 20px;
}
.NewPassword{
  padding-right: 0px;
  padding-left: 0px;

}
.ConfirmPassword{
  padding-right: 0px;
  padding-left: 0px;
}
.ForgotButton{
    padding-right:60%;
    font-size: 15px;
}
.Skip
{
  padding-left: 20px;
  border: 0px;
  color: blue;
  font-size: medium;
  background-color: transparent;
}
.SavePassword
{
  border: 0px;
  color: white;
  background-color: blue;
  height:40px;
  width:10px;
  padding-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Para{
    padding-left:8%;
    font-size: 15px;;
}
.LearnMore{
    border: 0px;
  color: blue;
  font-size: 15px;
  background-color: transparent;
  padding-left:8%;
}
.Head{
  padding-left:8%;
  font-size:17px;
  font-weight: 500;
}
.Head2{
    padding-left:8%;
    font-size:15px;
  }
.Hint{
  font-size:12px;
}