.note{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 260px;
    margin-left: 20px;
    height: 90px;
    
}

// .icons{
//     margin-left: -10px;
//     width:20px;
//     margin-bottom: 10px;
// }
.displayNote{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
      
}
::ng-deep.mat-dialog-container {
    padding: 0px !important;
    margin-top:-50px;
}
.a{
    height: fit-content;
}
