<!-- <mat-card>
    <div style="width: 30px; height:30px" *ngFor="let note of recievedNoteList">
        <p>{{note.title}}</p>
        <p>{{note.description}}</p>
        <p>{{note.data}}</p>
    </div>
    
</mat-card> -->
<div class="displayNote " >
    <div *ngFor="let note of recievedNoteList">
        <mat-card class="note"  [style.background]="note.bgColor">
            <div class="Title">
                <p (click)="openDialog(note)">{{note.title}}</p>
                <p (click)="openDialog(note)">{{note.description}}</p>
                <p>{{note.token}}</p>
    
            </div>
            <div >
                <app-icons class="icons" [notedata]="note" (deleteEvent)="deleteMessage($event)" (archiveEvent)="archiveMessage($event)" (trashEvent)="trashMessage($event)"></app-icons>
            </div>
         
        </mat-card>
    </div>
   
</div>