.Signin{
    font-size: 20px;
    font-weight:500;
}
.Email{
    width: 85%;
  padding-right: 0px;
  padding-left: 0px;
}
.Password{
    width: 85%;
  padding-right: 0px;
  padding-left: 0px;
}
.ForgotButton{
    padding-right:60%;
    font-size: 15px;
    color: blue;
}
.CreateAccount
{
  padding-left: 31px;
  border: 0px;
  color: blue;
  font-size: medium;
  background-color: transparent;
}
.Next
{
  border: 0px;
  color: white;
  background-color: blue;
  height:40px;width: 60px;
  margin: 30px;
}
.Para{
    padding-left:8%;
    font-size: 15px;;
}
.LearnMore{
    border: 0px;
  color: blue;
  font-size: 15px;
  background-color: transparent;
  padding-left:8%;
}
.Head{
   
  font-size:medium;
}