.Head{
    border: 0px;
    font-size: 18px;
    background-color: transparent;
    padding-left:33%; 
    font-weight:400px;
    margin-bottom: 20px;
}

.Next
{
  border: 0px;
  color: white;
  background-color: blue;
  height:40px;width: 60px;
  margin: 10px;
  margin-bottom: 20px;
}
.Email{
  width: 85%;
padding-right: 0px;
padding-left: 0px;
margin-bottom: 20px;
}